@import url('global.css');

/* 第一屏 */
.top_wrapper{
    height: 1080px;

    background-image: url('../source/img/home/1_wave_bg_big.png');
    background-repeat: no-repeat;
    background-position: 0 500px;  
}

.top{
    width: 1280px;
    padding: 0 15px;
    padding-top: 90px;
    align-items:center;
    margin: 0 auto;

    display: flex;
}

.top > div{
    flex-direction: row;
    width: 50%;

    justify-self: start;
}

.top_heading{
}

.top_heading h1{
    font-weight: 900;
    font-size: 60px;
    line-height: 87px;
    color: #3C6E71;
    padding: 5px 0;

    position: relative;
}

.top_heading h1:before{
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background: #cfbae1;
    border-radius: 50%;

    z-index: -1;
    position: absolute;
    left: -19px;
    top: 4px;
}

.top_heading h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6D7676;
    padding: 5px 0;
}

.top_button{
    margin-top: 50px;
    display: flex;
}

.top_button a{
    flex-direction: column;
    margin-right: 20px;

    display: block;
    width: 150px;

    padding: 10px 10px;
    border-radius: 6px;
    background-color: #3c6e71;
    color: #fff;

    text-decoration: none;
    text-align: center;

    font-weight: 500;
    font-size: 25px;
}

.top_button a:hover{
    background-color: #264748;;
}

.top_button a:last-child{
    background-color: #ffff;
    border: dashed 1px #3c6e71;
    color: #3c6e71;
}

.top_button a:last-child:hover{
    background-color: #eefbfc;
}

.top_img{
    display: flex;
}

.top_img img{
    flex-direction: row;
    position: relative;
}

.app_mp4{
    position: absolute;
    right: 805px;
    top: 200px;
}

.top_app{
    height: 496.99px;
    width: auto;

    clip-path: inset(2px 2px 0px 2px round 30px);
    border: 1px solid #d9d9d9;
    /* box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.25); */
}

.top_cat{
    position: absolute;
    box-sizing: content-box;
    height: 562.66px;
    right: -95px;
    top: 90px;

}

/* 第二屏 */

.feature_wrapper{
    height: 1080px;
}

.feature{
    width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.feature h2{
    font-size: 36px;
    font-weight: bold;
    color: #3c6e71;

    position: relative;
}

.feature h2:before{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: #cfbae1;
    border-radius: 50%;

    z-index: -1;
    position: absolute;
    left: -19px;
    top: 0px;
}
.feature h3{
    font-size: 20px;
    line-height: 1.6;
    color: #6d7676;
    width: 80%;
    margin-bottom: 20px;
}

.feature_content{
    display: flex;
}
.feature_content .left_tab{
    width: 33%;
}

.left_tab ul{
    display: flex;
    flex-direction: column;
}

.left_tab li{
    flex-grow: 1;
    margin: 0 10px 10px 0;

    text-align: left;
    flex-basis: 200px;
    cursor: pointer;

    padding: 0 11px 0 13px;
    border-radius: 3px;
    box-shadow: 0 12px 70px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #ffff;
    background: #ffff;;

    border-left: solid 6px #ffff;
}

.left_tab li:hover{
    box-shadow: 0px 5px 30px 2px rgba(105, 65, 198, 0.2);
    border-left: solid 6px #cfbae1;
}

.btn_selected{
    box-shadow: 0px 5px 30px 2px rgba(105, 65, 198, 0.2);
    border-left: solid 6px #cfbae1;
}

.left_tab li h4{
    font-size: 24px;
    font-weight: bold;

    color: #6d7676;
    line-height: 1.96;
    margin: 10px 0 10px 0;
}

.left_tab li p{
    font-size: 16px;
    color: #6d7676;
    line-height: 1.5;
    margin-bottom: 20px;
}

.left_tab li a{
    text-decoration: none;
    font-size: 20px;
    color: #b57be7;
    line-height: 1;
}

/* 圖片待用雪碧處理 */
.right_img{
    width: 834px;
    overflow: hidden;

    position: relative;
}

.feature_img{
    /* position: absolute;
    left: 0;
    top: 0; */

    overflow-x: scroll;
    white-space: nowrap;
}



/* 第三屏 */
.aboutus_wrapper{
    background-color: #ede5f4;
    height: 608px;

    z-index: 0;
}

.aboutus{
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    align-items: center;
}

.aboutus img{
    display: block;
    margin-top: 10px;
}

.about_txt_wrapper{
    width: 50%;

    background: #fff;
    border-radius: 50%;
    height: 608px;
    width: auto;
}

.about_txt{
    text-align: center;
    padding: 70px 65px;
}

.about_txt h2{
    margin: 30px 0;
    font-size: 36px;
    font-weight: bold;
    color: #3c6e71;

    position: relative;
    z-index: 1;
}

.about_txt h2:before{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: #cfbae1;
    border-radius: 50%;

    z-index: -1;
    position: absolute;
    left: 74px;
    top: 0px;
}

.about_txt p{
    text-align: left;
    font-size: 20px;
    color: #6d7676;
    line-height: 1.5;

    margin: 50px 0;
}

.about_txt button{
    padding: 12px 9px 12px 16px;
    border-radius: 6px;
    background-color: #3c6e71;
    border: #fff;
}

.about_txt a{
    display: block;
    text-decoration: none;

    color: #fff;
    font-size: 20px;
}

.about_txt button:hover{
    background-color: #b57be7;
}

/* 第四屏 */

.customer_wrapper{
    background-image: url('../source/img/home/4_bg.png');
    background-repeat: no-repeat;
    background-position: -60% 0;

    height:1080px;
}

.customer{
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.customer h2{
    margin: 158px auto 25px auto;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    color: #3c6e71;

    position: relative;
}

.customer h2:before{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: #cfbae1;
    border-radius: 50%;

    z-index: -1;
    position: absolute;
    left: 450px;
    top: 15px;
}

.customer span{
    display: block;
    font-size: 36px;
    margin-top: -10px;
}

.customer .h2_span {
    font-size: 36px;
}


.customer-list .item {
    /* height: 10rem; */
    padding: 1rem;
    text-align: center;
    z-index: 0;
  }

  .customer-list .item h3 {
    background: #CFBAE1;
    color: #fff;
    width: 280px;
    height: 160px;
    padding: 48px;
    border-radius: 10px;
    line-height: 1.5;
    font-size: 22px;
    margin-bottom: 30px;
    position: relative;

    background-image: url('../source/img/home/4_quotationmarks.png');
    background-position: 14px 14px;
    background-repeat: no-repeat;
  }

  .customer-list .item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80px;
  }
  .customer-list .active{
    background: transparent;
  }
  .item h3:after {
    content: "";
    display: block;

    z-index: -1;
    position: absolute;
    left: 170px;
    bottom: -17px;


    width: 0px;
    height: 0px;
    border-style: solid;
    border-radius: 0px ;
    border-width: 22px 18px 0px 18px;
    border-color: #cfbae1 transparent transparent transparent;
  }

  
  .customer-list .item h4 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4375rem;
    margin-top: 0rem;

    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #3c6e71;
    margin-bottom: 5px;
  }

  .customer-list .item p {
    font-size: 16px;
    color: #6d7676;
  }

  .customer-list{
    display: flex;
  }

  .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{
    padding: 12px !important;
  }

  .owl-carousel .owl-nav button.owl-prev{
    color: #ede5f4;
    font-size: 20px;
  }

  .owl-carousel .owl-nav button.owl-next{
    color: #b57be7;
  }

  .customer span {
    font-size: 75px;
}

  .owl-theme .owl-dots {
    display: none;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: #ffff;
    text-decoration: none; }

/* 第五屏 */
.article_wrapper{
    background-color: #ede5f4;

    background-image: url("../source/img/home/5_wave_bg.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 0;
}

.article{
    width: 1280px;
    margin: 0 auto;
    padding: 100px 15px;
    height: 1080px;
}

.article h2{
    margin-bottom:28px;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.23;
    color: #3c6e71;

    position: relative;
    z-index: 1;
}

.article h2:before{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: #cfbae1;
    border-radius: 50%;

    z-index: -1;
    position: absolute;
    left: -16px;
    top: -10px;
}


.article_content{
    width: 95%;
    height: 65%;
    display: flex;
}

.article1{
    width: 50%;
    height: 100%;
    border: solid 1px #d9d9d9;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;

    position: relative;
}

.article1:hover{
    box-shadow: 0px 5px 30px 2px rgba(105, 65, 198, 0.2);
}

.article1 a{
    display: block;
    text-decoration: none;
}

.article1_tag{
    position: absolute;
    top: 426px;
    left: 54px;

    padding: 0px 12px;
    background-color: #b57be7;

    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.article1 h3{
    margin: 25px 25px 15px 25px;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 3px;
}

.article1 h3 > a{
    color: #000;
}

.article1 h3 > a:hover{
    color: #3c6e71;
}

.article1 p {
    height: 120px;
    margin: 0 25px;
    font-size: 17px;
    line-height: 1.8;
    color: #000;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    box-sizing:border-box;

    position: relative;
}

.article_more{
    color: #3c6e71;
    font-size: 18px;

    position: absolute;
    right: 0;
    bottom: 0;
}

.article_content ul{
    width: 50%;

    display: flex;
    flex-direction: column;
}
.article_content li{
    flex-grow: 1;
    margin-bottom: 10px;
    
    display: flex;

    border: solid 1px #d9d9d9;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

    position: relative;
}

.article_content li:hover{
    box-shadow: 0px 5px 30px 2px rgba(105, 65, 198, 0.2);
}

.article_right > a{
    box-sizing: content-box;
}

.article_right h3 > a:hover{
    color: #3c6e71;
}

.article_right img{
    height: 100%;
}
.article_right_txt{
    flex-direction: row;

    padding: 11px;
}
.article_right_txt > a:first-child{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;

    padding: 3px;
    background-color: #b57be7;
    text-decoration: none;
}

.article_right_txt h3{
    margin-top: 20px;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.56;
}

.article_right_txt h3 > a{
    color: #000;
    text-decoration: none;
}

/* 第六屏 */
.faq_wrapper{
    background-image: url('../source/img/home/6_bg.png');
    background-position: 1354px top;
    background-repeat: no-repeat;
    height: 1080px;
}

.faq{
    width: 976px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.faq h2{
    margin: 120px 0 70px 0;
    font-size: 36px;
    font-weight: bold;
    color: #3c6e71;
    font-weight: 900;

    position: relative;
}

.faq h2:before{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: #cfbae1;
    border-radius: 50%;

    z-index: -1;
    position: absolute;
    left: 304px;
    top: 1px;
}

.accordion {
    background-color: #FAF6FF;
    color: #444;
    cursor: pointer;
    padding: 18px 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

    display: flex;
  }

  /* faq圓角樣式尚未處理 */
  .faq > button:first-child{
    border-radius: 30px 30px 0 0;
  }

  /* 最下面圓角樣式 */
  /* .faq > button:last-child{
    border-radius: 30px 30px 0 0;
  } */

  .accordion > div{

    flex-grow: 1;
   
    width: 46px;
    height: 47px;
    flex-grow: 0;
    font-family: sans-serif;
    font-size: 38.8px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: rgba(60, 60, 67, 0.5);
  }
  .accordion h4{
    margin: 0 30px;
    flex-grow: 4;
    flex-basis: 694px;

    font-size: 20px;
    font-weight: 500;
    line-height: 47px;
    color: #000;
    font-family: 'noto sans tc';
  }

  .accordion i{
    flex-grow: 1;
    color: #b57be7;
    line-height: 47px;

    font-size: 30px;
  }

  .minus_circle{
    display: none;
  }

  .bi-dash-circle-fill{
    display: none;
  }

  /* 這邊要找父層會變更li背景色 */
  .active, .accordion:hover {
    background-color: #F2EBFD;
  }
  
  .panel {
    padding: 0 150px 20px 105px;
    display: none;
    background-color: #F2EBFD;
    overflow: hidden;
    font-size:16px;

    text-align: left;

  }

  /* 用js讓按鈕旋轉成X，還再研究中
  .bi-plus-circle-fill::before {
    transform: rotate(45deg);
  } */

  /* 第七屏 */
.cta_wrapper{
    background-color: rgba(210, 189, 228, 0.39);
    
    background-image: url('../source/img/home/7_bg.png');
    background-repeat: no-repeat;
    background-position: left;
}

.cta{
    width: 1280px;
    height: 760px;
    margin: 0 auto;

    display: flex;
}

.cta_img{
    display: flex;
    overflow: hidden;
    width: 50%;

    position: relative;
}

.cta_img img{
    display: block;
}

.cta_cat{
    width: 460px;

    position: absolute;
    left: -58px;
    top: 0px;
}

.cta_app{
    display: none;

    position: absolute;
    right: 31px;
    top: 50px;
}

.cta_txt{
    width: 50%;
    text-align: center;
    padding: 135px 10px 20px 10px;
}

.cta_txt h1{
    margin-top: 40px;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.18;
    color: #3c6e71;
}

.cta_txt h2{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 41px;
    font-weight: 900;
    color: #000;
}

.store{
    display: flex;
    margin-left: 27px;
}
.store a{
    margin-right: 20px;
}

.store a:hover{
    transform: scale(1.1); 
}